<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <!--Masterdata-->
        <typeAlias alias="ProductType"
                   type="guru.springframework.entity.ProductEntity"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="guru.springframework.handler.LocalDateTimeTypeHandler"/>
        <typeHandler handler="guru.springframework.handler.LocalDateTypeHandler"/>
        <typeHandler handler="guru.springframework.handler.LocalTimeTypeHandler"/>
    </typeHandlers>
    <databaseIdProvider type="DB_VENDOR">
        <property name="PostgreSQL" value="postgresql"/>
        <property name="HSQL Database Engine" value="hsql"/>
    </databaseIdProvider>
    <mappers>
        <mapper resource="SqlMaps/ProductEntityMapper.xml"/>
    </mappers>
</configuration>
